// $color-green-dark :#081C15;

$color-white: #fff;
$color-green-dark: #0f0e0e;

$background-gradient: radial-gradient(
    32.46% 32.46% at 43.51% 64.08%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  ),
  radial-gradient(
    20.21% 50.93% at 81.88% 79.79%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.076) 100%
  ),
  radial-gradient(
    44.98% 55.31% at 12.87% 18.06%,
    #858383 0%,
    rgba(131, 119, 119, 0.09) 100%
  );

// $random-card-color: ;
